<!--component html goes here -->
<div id="home-container" fxLayout="column">
  <!-- header -->
  <div
    class="header"
    fxFlex="25"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div fxFlex="20" fxLayoutAlign="center center" class="title">
      <span>ATZ Control</span>
    </div>
    <div class="menu" fxFlex fxLayoutAlign="space-evenly end">
      <span>menu</span>
      <span>menu</span>
      <span>menu</span>
      <span>menu</span>
    </div>
    <div class="social" fxFlex="20" fxLayoutAlign="center center">
      <mat-icon>airplane</mat-icon>
    </div>
  </div>

  <!-- body -->
  <div fxFlex></div>

  <!-- footer -->
</div>
